/* header styles  */
header{
    background-color: black;
}
.wrapper{
    display: flex;
    position: relative;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100px;
    margin: 0 auto;
    background-color: black;
}
h1{
    font-size: 35px;
    letter-spacing: .5px;
    color: white;
    padding-left: 5px;
}
#logo{
    display: flex;
    align-items: center;
}
.img-wrap img{
    max-width: 70px;
    width: 100%;
}
header ul {
    display: flex;
}
header li a{
    padding: 10px;
    font-size: 20px;
}
header ul li a:hover {
    color: #33d1cc;
}
.burger{
    display: none;
}
/* background img setion */

.background-img{
    width: 100%;
    /* position: absolute; */
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
    height: 750px;
    background-image: url(../img/alexander-kaunas-xEaAoizNFV8.jpg
    );
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.text h3{
   color: #FFDF00 ; 
   /* color: white; */
   font-size: 50px;
   padding: 20px;
}
.text h4{
    color: #FFDF00;
    font-size: 45px;
    padding: 20px;
}
.text p{
    color: #00f9f1;
    padding: 40px;
    font-size: 30px;
}
.text a{
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
    border: 1x solid #FFDF00;
    outline: 3px solid #ffdf00;
    background: #3AB;
    padding: 11px 30px 12px;
    color: #FFDF00;
    letter-spacing: .1px;
}
/* about us styles */
.about-us{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px 0 100px;
    align-items: center;
}
.about-us h3{
    font-size: 30px;
}
.text-wrap{
    padding: 50px 0 20px 0;
}
.text-wrap p{
    max-width: 600px;
    padding: 10px 0 10px 0;
    
}
